<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link rel="stylesheet" href="main.css">
  <title>Web Blog by Temirlan Tlektessov</title>
</head>

<body>
  <header id="nav-bar">
    <nav>
      <ul class="nav-links">
        <li><a href="/">@ttlektessov</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/latest">Latest Post</a></li>
        <li><a href="/newpost">New Post</a></li>
      </ul>
    </nav>
  </header>
  <main>