<%- include("partials/header.ejs") %>

<div class="blog-container">
    <h1>404 - Post Not Found</h1>
    <p>The post you are looking for is not found.</p>
    <a href="/" class="btn">Go Back Home</a>
</div>

<%- include("partials/footer.ejs") %>