<%- include("partials/header.ejs") %>

<div id="form-container">
  <h2>New Post</h2>
  <form action="/newpost" method="POST">
    <div class="form-fields">
      <input type="text" name="title" placeholder="Enter title" required />
      <textarea name="body" placeholder="Enter body" required></textarea>
    </div>
    <div>
      <button type="submit" class="btn-submit">Submit</button>
    </div>
  </form>
</div>

<%- include("partials/footer.ejs") %>
